.header{
    background-color: aqua;
    text-align: center;
}

.history{
    background-color: blueviolet;
}

.heading{
    text-align: center;
    color:lightcoral
}.food{
    color: brown;
}

.h4{
    color: green;
}

.table{
    background-color: indigo;
}